In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2
# 多行输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import modin.pandas as pd
from fastai.tabular import *
import time
from datetime import datetime

2019-05-08 16:54:59,092	WARNING worker.py:1337 -- WARNING: Not updating worker name since `setproctitle` is not installed. Install this with `pip install setproctitle` (or ray[debug]) to enable monitoring of worker processes.
2019-05-08 16:54:59,094	INFO node.py:469 -- Process STDOUT and STDERR is being redirected to /tmp/ray/session_2019-05-08_16-54-59_32389/logs.
2019-05-08 16:54:59,199	INFO services.py:407 -- Waiting for redis server at 127.0.0.1:62374 to respond...
2019-05-08 16:54:59,310	INFO services.py:407 -- Waiting for redis server at 127.0.0.1:58174 to respond...
2019-05-08 16:54:59,312	INFO services.py:804 -- Starting Redis shard with 10.0 GB max memory.
2019-05-08 16:54:59,321	INFO node.py:483 -- Process STDOUT and STDERR is being redirected to /tmp/ray/session_2019-05-08_16-54-59_32389/logs.
2019-05-08 16:54:59,323	WARNING services.py:1304 -- WARNING: The object store is using /tmp instead of /dev/shm because /dev/shm has only 33711030272 bytes available. This may slow down performance! You may be able to free up space by deleting files in /dev/shm or terminating any running plasma_store_server processes. If you are inside a Docker container, you may need to pass an argument with the flag '--shm-size' to 'docker run'.
2019-05-08 16:54:59,323	INFO services.py:1427 -- Starting the Plasma object store with 40.0 GB memory using /tmp.

## 数据清洗

In [3]:
root = Path('../test_A')
root
root.ls()

PosixPath('../test_A')

[PosixPath('../test_A/ad_static_feature.out'),
 PosixPath('../test_A/ad_operation.dat'),
 PosixPath('../test_A/imps_log'),
 PosixPath('../test_A/test_sample.dat'),
 PosixPath('../test_A/user')]

In [4]:
u_data = root/'user'
u_data.ls()
log_data = root/'imps_log'
log_data.ls()

[PosixPath('../test_A/user/user_data')]

[PosixPath('../test_A/imps_log/totalExposureLog.out')]

- 清洗掉 ad_static_feature 中没有的广告
- 我们只关心有效广告的曝光情况

In [5]:
ad_static = pd.read_csv('../data/ad_static.csv', low_memory=False, encoding='utf-8')
ad_static.tail()

          广告id                 创建时间  广告账户id   商品id  商品类型  广告行业id 素材尺寸
502148   82588  2019-03-19 03:56:04   21666  21917    18     198   64
502149  665036  2019-02-21 09:08:35    6184  11633    18     232   64
502150  491914  2019-01-25 05:01:10    1809   5278     5     232   64
502151    3990  2019-03-01 08:17:08    4255   3401    18     218   36
502152  222150  2019-02-28 07:56:53    4250  14527    18      94   36

In [6]:
ad_static.shape

(502153, 7)

### 广告操作数据

In [7]:
col_names = ['广告id', '创建/修改时间', '操作类型', '修改字段', '操作后的字段值']

In [8]:
ad_operation = pd.read_csv(root/'ad_operation.dat', sep='\t', header=None, names=col_names)

In [9]:
ad_operation.describe()

                广告id       创建/修改时间           操作类型           修改字段
count  760866.000000  7.608660e+05  760866.000000  760866.000000
mean   366502.509025  1.717885e+13       1.147152       1.523331
std    210931.328143  7.192564e+12       0.354258       0.855417
min        31.000000  0.000000e+00       1.000000       1.000000
25%    184651.000000  2.019022e+13       1.000000       1.000000
50%    363843.000000  2.019030e+13       1.000000       1.000000
75%    547318.000000  2.019031e+13       1.000000       2.000000
max    736053.000000  2.019032e+13       2.000000       4.000000

In [10]:
ad_operation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760866 entries, 0 to 760865
Data columns (total 5 columns):
广告id       760866 non-null int64
创建/修改时间    760866 non-null int64
操作类型       760866 non-null int64
修改字段       760866 non-null int64
操作后的字段值    760866 non-null object
dtypes: int64(4), object(1)
memory usage: 29.0+ MB

In [11]:
ad_operation.head(7)

,广告id,创建/修改时间,操作类型,修改字段,操作后的字段值
0,593323,0,2,2,90
1,593323,0,2,3,all
2,593323,0,2,4,"281474976710655,281474976710655,28147497671065..."
3,593323,20190217000000,1,1,0
4,593323,20190218233855,1,2,90
5,593323,20190218000000,1,1,1
6,593323,20190230000000,1,1,0

In [12]:
ad_operation.shape

(760866, 5)

In [13]:
ad_operation.操作类型.unique()

array([2, 1])

In [14]:
a = datetime.strptime('20190218233855', "%Y%m%d%H%M%S")

In [15]:
str(a)

'2019-02-18 23:38:55'

In [16]:
pd.to_datetime(a)

Timestamp('2019-02-18 23:38:55')

- 非法时间

In [17]:
def isVaildDate(date_str):
    try:
        time.strptime(date_str, "%Y%m%d%H%M%S")
        return True
    except:
        return False

In [18]:
def invalid_date(df, field):
    ret, l = [], len(df)
    df.reset_index(drop=True, inplace=True)  # 为了正常访问，重建索引
    for i in range(l):
        if df.loc[i, field] == 0:
            continue
        s = str(df.loc[i, field])
        if not isVaildDate(s):
            ret.append(i)
        
    # 删除行
    new_df = df.drop(ret, axis=0)
    return new_df

In [19]:
ad_operation = invalid_date(ad_operation, '创建/修改时间')

In [20]:
ad_operation.shape

(759574, 5)

In [21]:
ad_operation.head(7)

,广告id,创建/修改时间,操作类型,修改字段,操作后的字段值
0,593323,0,2,2,90
1,593323,0,2,3,all
2,593323,0,2,4,"281474976710655,281474976710655,28147497671065..."
3,593323,20190217000000,1,1,0
4,593323,20190218233855,1,2,90
5,593323,20190218000000,1,1,1
7,593323,20190301000000,1,1,1

 - 合并表格

In [22]:
ads = pd.merge(ad_static, ad_operation, on='广告id', how='inner')

In [23]:
ads.head()

,广告id,创建时间,广告账户id,商品id,商品类型,广告行业id,素材尺寸,创建/修改时间,操作类型,修改字段,操作后的字段值
0,347637,2019-02-21 23:03:42,18529,28775,13,12,34,0,2,2,100
1,347637,2019-02-21 23:03:42,18529,28775,13,12,34,0,2,3,"age:217,601,79,202,837,942,638,394,347,731,739..."
2,347637,2019-02-21 23:03:42,18529,28775,13,12,34,0,2,4,"281474976694272,281474976694272,28147497669427..."
3,347637,2019-02-21 23:03:42,18529,28775,13,12,34,20190222233702,1,1,0
4,347637,2019-02-21 23:03:42,18529,28775,13,12,34,20190223001315,1,2,100

In [24]:
ads.shape

(614182, 11)

- 非法时间
- 我们避免直接使用 for 循环

In [25]:
def date_mod(df_row):
    if df_row['创建/修改时间'] == 0:
        df_row['创建/修改时间'] = df_row['创建时间']
    else:
        df_row['创建/修改时间'] = datetime.strptime(str(df_row['创建/修改时间']), "%Y%m%d%H%M%S")
    return df_row

In [26]:
ads = ads.apply(date_mod, axis=1)

In [27]:
ads.tail()

,广告id,创建时间,广告账户id,商品id,商品类型,广告行业id,素材尺寸,创建/修改时间,操作类型,修改字段,操作后的字段值
614177,412811,2019-02-21 21:39:18,17804,26944,13,12,34,2019-02-21 21:39:18,2,2,200
614178,412811,2019-02-21 21:39:18,17804,26944,13,12,34,2019-02-21 21:39:18,2,3,"age:217,601,79,202,837,942,638,394,347,731,739..."
614179,412811,2019-02-21 21:39:18,17804,26944,13,12,34,2019-02-21 21:39:18,2,4,"281474976694272,281474976694272,28147497669427..."
614180,412811,2019-02-21 21:39:18,17804,26944,13,12,34,2019-02-23 05:40:01,1,2,131
614181,412811,2019-02-21 21:39:18,17804,26944,13,12,34,2019-02-23 17:21:56,1,1,0

In [28]:
ads.shape

(614182, 11)

In [29]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614182 entries, 0 to 614181
Data columns (total 11 columns):
广告id       614182 non-null int64
创建时间       614182 non-null object
广告账户id     614182 non-null int64
商品id       614182 non-null int64
商品类型       614182 non-null int64
广告行业id     614182 non-null int64
素材尺寸       614182 non-null object
创建/修改时间    614182 non-null object
操作类型       614182 non-null int64
修改字段       614182 non-null int64
操作后的字段值    614182 non-null object
dtypes: int64(7), object(4)
memory usage: 56.2+ MB

- 数据保存

In [30]:
ads.to_csv('../data/ad_static_operation.csv', index=None, encoding='utf-8')