In [62]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2
# 多行输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [63]:
import modin.pandas as pd
from fastai.tabular import *

# 构造标签

In [64]:
root = Path('../data')
root
root.ls()

PosixPath('../data')

[PosixPath('../data/ad_static_operation.csv'),
 PosixPath('../data/2019-02-17_log.csv'),
 PosixPath('../data/sta_log.csv.sh'),
 PosixPath('../data/ad_static.csv'),
 PosixPath('../data/.ipynb_checkpoints'),
 PosixPath('../data/2019-02-16_log.csv')]

In [65]:
col_names = ['广告请求id',
 '广告请求时间',
 '广告位id',
 '用户id',
 '曝光广告id',
 '曝光广告素材尺寸',
 '曝光广告出价bid',
 '曝光广告pctr',
 '曝光广告quality_ecpm',
 '曝光广告totalEcpm',
 '广告id',
 '创建时间',
 '广告账户id',
 '商品id',
 '商品类型',
 '广告行业id',
 '素材尺寸',
 '广告请求时间_date']

In [66]:
log = pd.read_csv(root/'2019-02-16_log.csv', names=col_names, encoding='utf-8')
log.shape
log.head()

(291627, 18)

,广告请求id,广告请求时间,广告位id,用户id,曝光广告id,曝光广告素材尺寸,曝光广告出价bid,曝光广告pctr,曝光广告quality_ecpm,曝光广告totalEcpm,广告id,创建时间,广告账户id,商品id,商品类型,广告行业id,素材尺寸,广告请求时间_date
0,11624425,2019-02-16 23:52:39,168,852707,253902,64,60,4.329,86.58,346.320,253902,2019-02-15 08:27:12,5297,-1,1,230,64,2019-02-16
1,26657165,2019-02-16 23:33:45,39,430689,324657,44,48,20.662,413.24,1404.240,324657,2019-02-14 01:33:04,11763,28984,18,186,44,2019-02-16
2,48072671,2019-02-16 17:38:29,93,557436,324657,44,72,23.059,461.18,2121.180,324657,2019-02-14 01:33:04,11763,28984,18,186,44,2019-02-16
3,14581426,2019-02-16 16:04:33,297,601634,427309,64,42,21.066,421.32,1306.092,427309,2018-06-13 02:59:34,9321,8831,18,3,64,2019-02-16
4,43133376,2019-02-16 22:21:37,18,1285731,509332,64,69,9.201,184.02,818.020,509332,2019-01-12 06:32:49,9610,2572,8,54,64,2019-02-16

In [67]:
p = log.groupby(by=['曝光广告id']).count()
p.head()

,广告请求id,广告请求时间,广告位id,用户id,曝光广告素材尺寸,曝光广告出价bid,曝光广告pctr,曝光广告quality_ecpm,曝光广告totalEcpm,广告id,创建时间,广告账户id,商品id,商品类型,广告行业id,素材尺寸,广告请求时间_date
曝光广告id,,,,,,,,,,,,,,,,,
61,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
63,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
104,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
167,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49
184,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

In [68]:
date = log['广告请求时间_date'][0]

In [73]:
p['曝光量'] = p['广告请求id']
p.head()
p.shape

,广告请求id,广告请求时间,广告位id,用户id,曝光广告素材尺寸,曝光广告出价bid,曝光广告pctr,曝光广告quality_ecpm,曝光广告totalEcpm,广告id,创建时间,广告账户id,商品id,商品类型,广告行业id,素材尺寸,广告请求时间_date,曝光量
曝光广告id,,,,,,,,,,,,,,,,,,
61,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
63,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
104,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
167,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49
184,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

(20343, 18)

In [75]:
p['广告请求id'].values

array([12,  1,  1, 49, ...,  5,  1,  1,  3])

In [70]:
p.index

Int64Index([    61,     63,    104,    167,    184,    308,    319,    347,
               378,    423,
            ...
            735682, 735754, 735763, 735821, 735824, 735835, 735846, 735904,
            735952, 735971],
           dtype='int64', name='曝光广告id', length=20343)

In [76]:
df = pd.DataFrame(columns=['曝光广告id', '广告请求时间', '曝光量'])
df['曝光广告id'] = pd.Series(p.index.values, dtype='int64')
df['广告请求时间'] = date
df['曝光量'] = pd.Series(p['广告请求id'].values, dtype='float64')
df.to_csv(f'{date}_exposed.csv', index=False, encoding='utf-8')

## 统计每天某广告的曝光量并保存
- 这里我们按天来算 不考虑时分秒

In [77]:
root.ls()

[PosixPath('../data/ad_static_operation.csv'),
 PosixPath('../data/2019-02-17_log.csv'),
 PosixPath('../data/sta_log.csv.sh'),
 PosixPath('../data/ad_static.csv'),
 PosixPath('../data/.ipynb_checkpoints'),
 PosixPath('../data/2019-02-16_log.csv')]