In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2
# 多行输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 数据集的后处理

In [2]:
import pandas as pd

In [4]:
test = pd.read_csv('../data/test_set.csv', low_memory=False, encoding='utf-8')
train = pd.read_csv('../data/train_set.csv', low_memory=False, encoding='utf-8')

In [5]:
test.head()
train.head()

,样本id,广告id,素材尺寸,广告行业id,商品类型,商品id,广告账户id,is_all_field,time,has_product_id,...,crt_dateIs_month_start,crt_dateIs_quarter_end,crt_dateIs_quarter_start,crt_dateIs_year_end,crt_dateIs_year_start,crt_dateHour,crt_dateMinute,crt_dateSecond,crt_dateElapsed,price
0,1,394352,34,84,13,29663,26657,False,"281474976645120,281474976645120,28147497664512...",True,...,False,False,False,False,False,6,20,12,1529648412,120
1,2,585401,40,221,1,-1,6262,False,"281474976579587,281474976579587,28147497657958...",False,...,False,False,False,False,False,10,3,10,1553076190,42
2,3,419408,30,122,13,32110,17436,True,"17592185782272,17592185782272,17592185782272,1...",True,...,False,False,False,False,False,21,36,34,1553031394,6
3,4,405326,64,136,1,-1,22359,False,"281474976694272,281474976694272,28147497669427...",False,...,False,False,False,False,False,7,13,56,1553238836,181
4,5,578942,34,12,13,6372,24082,False,"68719214592,68719214592,68719214592,6871921459...",True,...,False,False,False,False,False,20,46,25,1541191585,31

,age,area,behavior,cnt,connectionType,consuptionAbility,device,education,gender,price,...,crt_dateIs_quarter_end,crt_dateIs_quarter_start,crt_dateIs_year_end,crt_dateIs_year_start,crt_dateHour,crt_dateMinute,crt_dateSecond,crt_dateElapsed,is_all_field,has_product_id
0,-999,-999,-999,3,-999,-999,-999,-999,-999.0,44.0,...,False,False,False,False,6,14,44,1460528084,False,False
1,-999.0,-999.0,-999.0,3,-999.0,-999.0,2,-999.0,-999.0,-999.0,...,False,False,False,False,7,25,17,1464161117,False,True
2,-9,-9,-9,3,-9,-9,-9,-9,-9.0,-999.0,...,False,False,False,False,2,35,46,1472697346,True,False
3,-999,-999,-999,3,-999,-999,-999,-999,-999.0,49.0,...,False,False,False,False,7,54,44,1478678084,False,False
4,-999,-999,-999,3,-999,-999,-999,-999,-999.0,30.0,...,False,False,False,False,2,39,19,1480387159,False,False

In [7]:
test.columns
train.columns

Index(['样本id', '广告id', '素材尺寸', '广告行业id', '商品类型', '商品id', '广告账户id',
       'is_all_field', 'time', 'has_product_id', 'age', 'area', 'behavior',
       'connectionType', 'consuptionAbility', 'device', 'education', 'gender',
       'status', 'work', 'crt_dateYear', 'crt_dateMonth', 'crt_dateWeek',
       'crt_dateDay', 'crt_dateDayofweek', 'crt_dateDayofyear',
       'crt_dateIs_month_end', 'crt_dateIs_month_start',
       'crt_dateIs_quarter_end', 'crt_dateIs_quarter_start',
       'crt_dateIs_year_end', 'crt_dateIs_year_start', 'crt_dateHour',
       'crt_dateMinute', 'crt_dateSecond', 'crt_dateElapsed', 'price'],
      dtype='object')

Index(['age', 'area', 'behavior', 'cnt', 'connectionType', 'consuptionAbility',
       'device', 'education', 'gender', 'price', 'state', 'status', 'time',
       'work', '商品id', '商品类型', '广告id', '广告行业id', '广告账户id', '曝光广告id', '曝光量',
       '素材尺寸', 'crt_dateYear', 'crt_dateMonth', 'crt_dateWeek', 'crt_dateDay',
       'crt_dateDayofweek', 'crt_dateDayofyear', 'crt_dateIs_month_end',
       'crt_dateIs_month_start', 'crt_dateIs_quarter_end',
       'crt_dateIs_quarter_start', 'crt_dateIs_year_end',
       'crt_dateIs_year_start', 'crt_dateHour', 'crt_dateMinute',
       'crt_dateSecond', 'crt_dateElapsed', 'is_all_field', 'has_product_id'],
      dtype='object')

In [8]:
test_id = ['样本id']
train_id = ['曝光量']

In [9]:
v_cols = ['广告id', '广告行业id', '广告账户id', '商品id', '商品类型', '素材尺寸', 'is_all_field', 'has_product_id', 'time', 'age', 'area', 'behavior',
          'connectionType', 'consuptionAbility', 'device', 'education', 'gender', 'status', 'work', 'price', 'crt_dateYear', 'crt_dateMonth', 
          'crt_dateWeek', 'crt_dateDay', 'crt_dateDayofweek', 'crt_dateDayofyear', 'crt_dateIs_month_end', 'crt_dateIs_month_start',
          'crt_dateIs_quarter_end', 'crt_dateIs_quarter_start', 'crt_dateIs_year_end', 'crt_dateIs_year_start', 'crt_dateHour', 'crt_dateElapsed']

In [10]:
test = test[test_id + v_cols]
train = train[v_cols + train_id]

In [12]:
test.columns
train.columns

Index(['样本id', '广告id', '广告行业id', '广告账户id', '商品id', '商品类型', '素材尺寸',
       'is_all_field', 'has_product_id', 'time', 'age', 'area', 'behavior',
       'connectionType', 'consuptionAbility', 'device', 'education', 'gender',
       'status', 'work', 'price', 'crt_dateYear', 'crt_dateMonth',
       'crt_dateWeek', 'crt_dateDay', 'crt_dateDayofweek', 'crt_dateDayofyear',
       'crt_dateIs_month_end', 'crt_dateIs_month_start',
       'crt_dateIs_quarter_end', 'crt_dateIs_quarter_start',
       'crt_dateIs_year_end', 'crt_dateIs_year_start', 'crt_dateHour',
       'crt_dateElapsed'],
      dtype='object')

Index(['广告id', '广告行业id', '广告账户id', '商品id', '商品类型', '素材尺寸', 'is_all_field',
       'has_product_id', 'time', 'age', 'area', 'behavior', 'connectionType',
       'consuptionAbility', 'device', 'education', 'gender', 'status', 'work',
       'price', 'crt_dateYear', 'crt_dateMonth', 'crt_dateWeek', 'crt_dateDay',
       'crt_dateDayofweek', 'crt_dateDayofyear', 'crt_dateIs_month_end',
       'crt_dateIs_month_start', 'crt_dateIs_quarter_end',
       'crt_dateIs_quarter_start', 'crt_dateIs_year_end',
       'crt_dateIs_year_start', 'crt_dateHour', 'crt_dateElapsed', '曝光量'],
      dtype='object')

In [39]:
for i in ['素材尺寸']:
    train[i] = train[i].astype('int64')
test['price'] = test['price'].astype('float64')

In [36]:
def fx(x):
    if x == '-999.0':
        return -999
    else:
        return x

In [38]:
train['consuptionAbility'] = train['consuptionAbility'].apply(fx)

In [43]:
test['consuptionAbility'] = test['consuptionAbility'].astype('object')

In [44]:
for i in v_cols:
    train[i] = train[i].apply(fx)
    test[i] = test[i].apply(fx)

In [45]:
test.info()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20290 entries, 0 to 20289
Data columns (total 35 columns):
样本id                        20290 non-null int64
广告id                        20290 non-null int64
广告行业id                      20290 non-null int64
广告账户id                      20290 non-null int64
商品id                        20290 non-null int64
商品类型                        20290 non-null int64
素材尺寸                        20290 non-null int64
is_all_field                20290 non-null bool
has_product_id              20290 non-null bool
time                        20290 non-null object
age                         20290 non-null object
area                        20290 non-null object
behavior                    20290 non-null object
connectionType              20290 non-null object
consuptionAbility           20290 non-null int64
device                      20290 non-null object
education                   20290 non-null object
gender                      20290 non-null object
status                      20290 non-null object
work                        20290 non-null object
price                       20290 non-null float64
crt_dateYear                20290 non-null int64
crt_dateMonth               20290 non-null int64
crt_dateWeek                20290 non-null int64
crt_dateDay                 20290 non-null int64
crt_dateDayofweek           20290 non-null int64
crt_dateDayofyear           20290 non-null int64
crt_dateIs_month_end        20290 non-null bool
crt_dateIs_month_start      20290 non-null bool
crt_dateIs_quarter_end      20290 non-null bool
crt_dateIs_quarter_start    20290 non-null bool
crt_dateIs_year_end         20290 non-null bool
crt_dateIs_year_start       20290 non-null bool
crt_dateHour                20290 non-null int64
crt_dateElapsed             20290 non-null int64
dtypes: bool(8), float64(1), int64(16), object(10)
memory usage: 4.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210855 entries, 0 to 210854
Data columns (total 35 columns):
广告id                        210855 non-null int64
广告行业id                      210855 non-null int64
广告账户id                      210855 non-null int64
商品id                        210855 non-null int64
商品类型                        210855 non-null int64
素材尺寸                        210855 non-null int64
is_all_field                210855 non-null bool
has_product_id              210855 non-null bool
time                        210855 non-null object
age                         210855 non-null object
area                        210855 non-null object
behavior                    210855 non-null object
connectionType              210855 non-null object
consuptionAbility           210855 non-null object
device                      210855 non-null object
education                   210855 non-null object
gender                      210855 non-null float64
status                      210855 non-null object
work                        210855 non-null object
price                       210855 non-null float64
crt_dateYear                210855 non-null int64
crt_dateMonth               210855 non-null int64
crt_dateWeek                210855 non-null int64
crt_dateDay                 210855 non-null int64
crt_dateDayofweek           210855 non-null int64
crt_dateDayofyear           210855 non-null int64
crt_dateIs_month_end        210855 non-null bool
crt_dateIs_month_start      210855 non-null bool
crt_dateIs_quarter_end      210855 non-null bool
crt_dateIs_quarter_start    210855 non-null bool
crt_dateIs_year_end         210855 non-null bool
crt_dateIs_year_start       210855 non-null bool
crt_dateHour                210855 non-null int64
crt_dateElapsed             210855 non-null int64
曝光量                         210855 non-null float64
dtypes: bool(8), float64(3), int64(14), object(10)
memory usage: 45.0+ MB

### 保存数据集

In [46]:
test.to_csv('../data/test_set_final.csv', index=None, encoding='utf-8')
train.to_csv('../data/train_set_final.csv', index=None, encoding='utf-8')