In [2]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2
# 多行输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 数据集的后处理

In [3]:
import pandas as pd
import numpy as np

In [4]:
test = pd.read_csv('../data/test_set.csv', low_memory=False, encoding='utf-8')
train = pd.read_csv('../data/train_set.csv', low_memory=False, encoding='utf-8')

In [5]:
test.head()
train.head()

,样本id,广告id,素材尺寸,广告行业id,商品类型,商品id,广告账户id,is_all_field,time,has_product_id,...,crt_dateIs_month_start,crt_dateIs_quarter_end,crt_dateIs_quarter_start,crt_dateIs_year_end,crt_dateIs_year_start,crt_dateHour,crt_dateMinute,crt_dateSecond,crt_dateElapsed,price
0,1,394352,34,84,13,29663,26657,False,"281474976645120,281474976645120,28147497664512...",True,...,False,False,False,False,False,6,20,12,1529648412,120
1,2,585401,40,221,1,-1,6262,False,"281474976579587,281474976579587,28147497657958...",False,...,False,False,False,False,False,10,3,10,1553076190,42
2,3,419408,30,122,13,32110,17436,True,"17592185782272,17592185782272,17592185782272,1...",True,...,False,False,False,False,False,21,36,34,1553031394,6
3,4,405326,64,136,1,-1,22359,False,"281474976694272,281474976694272,28147497669427...",False,...,False,False,False,False,False,7,13,56,1553238836,181
4,5,578942,34,12,13,6372,24082,False,"68719214592,68719214592,68719214592,6871921459...",True,...,False,False,False,False,False,20,46,25,1541191585,31

,age,area,behavior,cnt,connectionType,consuptionAbility,device,education,gender,price,...,crt_dateIs_quarter_end,crt_dateIs_quarter_start,crt_dateIs_year_end,crt_dateIs_year_start,crt_dateHour,crt_dateMinute,crt_dateSecond,crt_dateElapsed,is_all_field,has_product_id
0,-999,-999,-999,3,-999,-999,-999,-999,-999.0,44.0,...,False,False,False,False,6,14,44,1460528084,False,False
1,-999.0,-999.0,-999.0,3,-999.0,-999.0,2,-999.0,-999.0,-999.0,...,False,False,False,False,7,25,17,1464161117,False,True
2,-9,-9,-9,3,-9,-9,-9,-9,-9.0,-999.0,...,False,False,False,False,2,35,46,1472697346,True,False
3,-999,-999,-999,3,-999,-999,-999,-999,-999.0,49.0,...,False,False,False,False,7,54,44,1478678084,False,False
4,-999,-999,-999,3,-999,-999,-999,-999,-999.0,30.0,...,False,False,False,False,2,39,19,1480387159,False,False

In [6]:
test.columns
train.columns

Index(['样本id', '广告id', '素材尺寸', '广告行业id', '商品类型', '商品id', '广告账户id',
       'is_all_field', 'time', 'has_product_id', 'age', 'area', 'behavior',
       'connectionType', 'consuptionAbility', 'device', 'education', 'gender',
       'status', 'work', 'crt_dateYear', 'crt_dateMonth', 'crt_dateWeek',
       'crt_dateDay', 'crt_dateDayofweek', 'crt_dateDayofyear',
       'crt_dateIs_month_end', 'crt_dateIs_month_start',
       'crt_dateIs_quarter_end', 'crt_dateIs_quarter_start',
       'crt_dateIs_year_end', 'crt_dateIs_year_start', 'crt_dateHour',
       'crt_dateMinute', 'crt_dateSecond', 'crt_dateElapsed', 'price'],
      dtype='object')

Index(['age', 'area', 'behavior', 'cnt', 'connectionType', 'consuptionAbility',
       'device', 'education', 'gender', 'price', 'state', 'status', 'time',
       'work', '商品id', '商品类型', '广告id', '广告行业id', '广告账户id', '曝光广告id', '曝光量',
       '素材尺寸', 'crt_dateYear', 'crt_dateMonth', 'crt_dateWeek', 'crt_dateDay',
       'crt_dateDayofweek', 'crt_dateDayofyear', 'crt_dateIs_month_end',
       'crt_dateIs_month_start', 'crt_dateIs_quarter_end',
       'crt_dateIs_quarter_start', 'crt_dateIs_year_end',
       'crt_dateIs_year_start', 'crt_dateHour', 'crt_dateMinute',
       'crt_dateSecond', 'crt_dateElapsed', 'is_all_field', 'has_product_id'],
      dtype='object')

In [7]:
test_id = ['样本id']
train_id = ['曝光量']

In [8]:
v_cols = ['广告id', '广告行业id', '广告账户id', '商品id', '商品类型', '素材尺寸', 'is_all_field', 'has_product_id', 'time', 'age', 'area', 'behavior',
          'connectionType', 'consuptionAbility', 'device', 'education', 'gender', 'status', 'work', 'price', 'crt_dateYear', 'crt_dateMonth', 
          'crt_dateWeek', 'crt_dateDay', 'crt_dateDayofweek', 'crt_dateDayofyear', 'crt_dateIs_month_end', 'crt_dateIs_month_start',
          'crt_dateIs_quarter_end', 'crt_dateIs_quarter_start', 'crt_dateIs_year_end', 'crt_dateIs_year_start', 'crt_dateHour', 'crt_dateElapsed']

In [9]:
test = test[test_id + v_cols]
train = train[v_cols + train_id]

In [10]:
test.columns
train.columns

Index(['样本id', '广告id', '广告行业id', '广告账户id', '商品id', '商品类型', '素材尺寸',
       'is_all_field', 'has_product_id', 'time', 'age', 'area', 'behavior',
       'connectionType', 'consuptionAbility', 'device', 'education', 'gender',
       'status', 'work', 'price', 'crt_dateYear', 'crt_dateMonth',
       'crt_dateWeek', 'crt_dateDay', 'crt_dateDayofweek', 'crt_dateDayofyear',
       'crt_dateIs_month_end', 'crt_dateIs_month_start',
       'crt_dateIs_quarter_end', 'crt_dateIs_quarter_start',
       'crt_dateIs_year_end', 'crt_dateIs_year_start', 'crt_dateHour',
       'crt_dateElapsed'],
      dtype='object')

Index(['广告id', '广告行业id', '广告账户id', '商品id', '商品类型', '素材尺寸', 'is_all_field',
       'has_product_id', 'time', 'age', 'area', 'behavior', 'connectionType',
       'consuptionAbility', 'device', 'education', 'gender', 'status', 'work',
       'price', 'crt_dateYear', 'crt_dateMonth', 'crt_dateWeek', 'crt_dateDay',
       'crt_dateDayofweek', 'crt_dateDayofyear', 'crt_dateIs_month_end',
       'crt_dateIs_month_start', 'crt_dateIs_quarter_end',
       'crt_dateIs_quarter_start', 'crt_dateIs_year_end',
       'crt_dateIs_year_start', 'crt_dateHour', 'crt_dateElapsed', '曝光量'],
      dtype='object')

In [11]:
for i in ['素材尺寸']:
    train[i] = train[i].astype('int64')
test['price'] = test['price'].astype('float64')

In [12]:
def fx(x):
    if x == '-999.0' or x == '-999' or x == -999.0 or x == -999:
        return -999
    else:
        return x

In [13]:
def fx1(x):
    if x + 999 < 1e-6:
        return np.nan
    else:
        return x

In [14]:
test['consuptionAbility'] = test['consuptionAbility'].astype('object')

In [15]:
for i in v_cols:
    train[i] = train[i].apply(fx)
    test[i] = test[i].apply(fx)

In [16]:
train['price'].head()

0     44.0
1   -999.0
2   -999.0
3     49.0
4     30.0
Name: price, dtype: float64

## 变量名英文

In [17]:
cz = ['广告id', '广告行业id', '广告账户id', '商品id', '商品类型', '素材尺寸']
ez = ['ad_id', 'ad_type_id', 'ad_account_id', 'item_id', 'item_type', 'size']
v_cols = ['ad_id', 'ad_type_id', 'ad_account_id', 'item_id', 'item_type', 'size', 'is_all_field', 'has_product_id', 'has_price', 'time', 'age', 'area', 'behavior',
          'connectionType', 'consuptionAbility', 'device', 'education', 'gender', 'status', 'work', 'price', 'crt_dateYear', 'crt_dateMonth', 
          'crt_dateWeek', 'crt_dateDay', 'crt_dateDayofweek', 'crt_dateDayofyear', 'crt_dateIs_month_end', 'crt_dateIs_month_start',
          'crt_dateIs_quarter_end', 'crt_dateIs_quarter_start', 'crt_dateIs_year_end', 'crt_dateIs_year_start', 'crt_dateHour', 'crt_dateElapsed']
test_id = ['sample_id']
train_id = ['target']

In [18]:
train['price'] = train['price'].apply(fx1)
test['price'] = test['price'].apply(fx1)

In [19]:
train['price'].head()

0    44.0
1     NaN
2     NaN
3    49.0
4    30.0
Name: price, dtype: float64

- 由于是数值 所以我们使用中值填充

In [20]:
fill_v = train['price'].mode()
fill_v

0    100.0
dtype: float64

In [21]:
fill_v = train['price'].mode()

In [22]:
train['has_price'] = train['price'].isna()
test['has_price'] = test['price'].isna()

In [23]:
fill_v[0]

100.0

In [24]:
train['price'].fillna(fill_v[0], inplace=True)
test['price'].fillna(fill_v[0], inplace=True)
train['price'].head()

0     44.0
1    100.0
2    100.0
3     49.0
4     30.0
Name: price, dtype: float64

In [25]:
train['target'] = train['曝光量'].apply(lambda x: np.log(1 + x))
#train['price'] = train['price'].apply(lambda x: np.log(1 + x))
#test['price'] = test['price'].apply(lambda x: np.log(1 + x))
test['sample_id'] = test['样本id']
for i, j in zip(cz, ez):
    train[j], test[j] = train[i], test[i]
train = train[v_cols + train_id]
test = test[v_cols + test_id]

In [26]:
test.info()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20290 entries, 0 to 20289
Data columns (total 36 columns):
ad_id                       20290 non-null int64
ad_type_id                  20290 non-null int64
ad_account_id               20290 non-null int64
item_id                     20290 non-null int64
item_type                   20290 non-null int64
size                        20290 non-null int64
is_all_field                20290 non-null bool
has_product_id              20290 non-null bool
has_price                   20290 non-null bool
time                        20290 non-null object
age                         20290 non-null object
area                        20290 non-null object
behavior                    20290 non-null object
connectionType              20290 non-null object
consuptionAbility           20290 non-null int64
device                      20290 non-null object
education                   20290 non-null object
gender                      20290 non-null object
status                      20290 non-null object
work                        20290 non-null object
price                       20290 non-null float64
crt_dateYear                20290 non-null int64
crt_dateMonth               20290 non-null int64
crt_dateWeek                20290 non-null int64
crt_dateDay                 20290 non-null int64
crt_dateDayofweek           20290 non-null int64
crt_dateDayofyear           20290 non-null int64
crt_dateIs_month_end        20290 non-null bool
crt_dateIs_month_start      20290 non-null bool
crt_dateIs_quarter_end      20290 non-null bool
crt_dateIs_quarter_start    20290 non-null bool
crt_dateIs_year_end         20290 non-null bool
crt_dateIs_year_start       20290 non-null bool
crt_dateHour                20290 non-null int64
crt_dateElapsed             20290 non-null int64
sample_id                   20290 non-null int64
dtypes: bool(9), float64(1), int64(16), object(10)
memory usage: 4.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210855 entries, 0 to 210854
Data columns (total 36 columns):
ad_id                       210855 non-null int64
ad_type_id                  210855 non-null int64
ad_account_id               210855 non-null int64
item_id                     210855 non-null int64
item_type                   210855 non-null int64
size                        210855 non-null int64
is_all_field                210855 non-null bool
has_product_id              210855 non-null bool
has_price                   210855 non-null bool
time                        210855 non-null object
age                         210855 non-null object
area                        210855 non-null object
behavior                    210855 non-null object
connectionType              210855 non-null object
consuptionAbility           210855 non-null object
device                      210855 non-null object
education                   210855 non-null object
gender                      210855 non-null float64
status                      210855 non-null object
work                        210855 non-null object
price                       210855 non-null float64
crt_dateYear                210855 non-null int64
crt_dateMonth               210855 non-null int64
crt_dateWeek                210855 non-null int64
crt_dateDay                 210855 non-null int64
crt_dateDayofweek           210855 non-null int64
crt_dateDayofyear           210855 non-null int64
crt_dateIs_month_end        210855 non-null bool
crt_dateIs_month_start      210855 non-null bool
crt_dateIs_quarter_end      210855 non-null bool
crt_dateIs_quarter_start    210855 non-null bool
crt_dateIs_year_end         210855 non-null bool
crt_dateIs_year_start       210855 non-null bool
crt_dateHour                210855 non-null int64
crt_dateElapsed             210855 non-null int64
target                      210855 non-null float64
dtypes: bool(9), float64(3), int64(14), object(10)
memory usage: 45.2+ MB

In [27]:
cols3 = ['connectionType','consuptionAbility','device','education','gender','status','work']
for i in cols3:
    print(i)
    train[i].value_counts()
    test[i].value_counts()

connectionType

-999         200018
-9             8195
2,4            1275
2,3,4          1109
2               117
2,3,5,4          46
2,3,5,4,1        40
2,4,1            30
2,3,4,1          11
2,1               9
4                 3
3                 1
2,3,5,1           1
Name: connectionType, dtype: int64

-999         13682
-9            5141
2,4           1009
2,4,3          257
2,4,1,3        110
2,4,5,1,3       41
2               30
2,1,4           20
Name: connectionType, dtype: int64

consuptionAbility

-999    202254
-9        8195
3          404
3,2          2
Name: consuptionAbility, dtype: int64

-999    14938
-9       5141
 2        120
 3         91
Name: consuptionAbility, dtype: int64

device

-999           201871
-9               8195
3                 375
3,2               216
2                 156
6,3,2              22
4,1,5,3,2           6
4,3,2               6
4,3,5,2             2
4,2                 2
1,3,2               1
1,5,6,3,2           1
4,1,5,6,3,2         1
6,2                 1
Name: device, dtype: int64

-999     14866
-9        5141
4,2,3      130
2           70
2,3         42
3           31
6,2,3       10
Name: device, dtype: int64

education

-999             199986
-9                 8195
1,5,4,7,8           566
1,5,4,7             485
7,2,3,8             208
1,7,5,8             175
1,4,5,6,8           174
1,5,4,2,7,8         125
5,2,3,7,8           113
1,5,4,8             107
7,5                 101
2                    98
1,5,4                80
7,5,8                67
7,2,8                41
7,2,5,8              36
1,5,4,2,8            34
1,7,5                25
1,5,4,2,3,7,8        25
8                    25
2,3,8                24
1,7,4                20
4                    19
3,2                  16
2,8                  16
1,2,5,8              15
5                    14
1,5,4,2,3,8          13
3                    10
1,5,2,3,7,8           9
7,8                   8
5,8                   4
1,4,5,6,7,8           3
1                     3
2,3,6,8               2
7                     2
7,3,8                 2
5,7,4,8               2
1,5                   2
4,3                   1
5,4,2,3,7,8           1
1,4,5,6,2,3,8         1
1,4                   1
2,5,8                 1
Name: education, dtype: int64

-999             13454
-9                5141
1,5,4,7            861
8,3,2              180
6,8,1,5,4          113
8,7,1,5,4           92
8,7,2               61
1,5,4               50
8,7,3,2             41
5,8,7               40
2,8,7,3,5           31
1,5,7               21
2,8,1,5,4           21
2,8,7,1,5,4         20
5                   20
5,7                 20
1,5,8,4             20
1,5,8,2             11
8                   11
1,5                 11
2,8,7,1,3,5,4       11
1,5,8,7             10
8,2                 10
4,1,5,6             10
2,6,8,1,3,5         10
4                   10
2,8,7,1,3,5         10
Name: education, dtype: int64

gender

-999.0    198458
-9.0        8195
 3.0        2214
 2.0        1988
Name: gender, dtype: int64

-999     13464
-9        5141
2          945
3          730
3,1,2       10
Name: gender, dtype: int64

status

-999                  199765
-9                      8195
13,9                    1638
13,15,6,9                186
15,6,9                   175
13,5,9                   171
6                         90
15,6                      85
14,15,7                   69
15,7,6,9                  68
7,11,9,2,5,15,6,14        59
15,7,6                    51
5,9                       41
9                         36
15,7                      26
13,5,6,9                  23
14,15,7,6                 20
7,11,15,6,14              15
13,5                      12
13                        12
7,11,9,2,15,6,14          10
7,11,2,15,6,14            10
2                         10
11,2                       9
14,7,11                    8
13,9,8,5,3,18              8
7,9,15,6,14                7
13,15,6,1                  7
14,7,17,1                  6
1,7,11,6,14                6
14,15,7,11                 4
13,5,15,9                  3
5,6,9                      3
14,7                       3
14,7,6,11                  3
7                          2
13,9,5,15,6                2
5                          2
13,6,9                     2
14,11,2                    2
7,11,9,15,6,14             1
14                         1
17,1,7,6,14                1
14,7,6                     1
3,6,9                      1
13,7,9,5,15,6              1
15                         1
13,6                       1
14,7,1                     1
15,7,6,2                   1
7,2,15,6,14                1
Name: status, dtype: int64

-999                   14196
-9                      5141
13,9                     325
15,7,6,9                 140
15,13,6,9                113
5,13,9                   108
11,15,5,7,2,6,14,9        40
15,6,9                    30
15,6                      22
11,15,7,2,6,14            20
5,13                      20
5,13,6,9                  20
11,15,5,13,7,6,14,9       11
5,9                       11
13,6                      11
15,7,14                   11
15,13,6,1                 11
15,4,13,9                 10
7                         10
11,15,7,2,6,14,9          10
13,6,9                    10
11,15,7,6,14,9            10
4                         10
Name: status, dtype: int64

work

-999         202570
-9             8195
6                83
6,4,1,5,2         7
Name: work, dtype: int64

-999         15085
-9            5141
6               53
2,5,1,6,4       11
Name: work, dtype: int64

In [28]:
train['device'].value_counts()
test['device'].value_counts()

-999           201871
-9               8195
3                 375
3,2               216
2                 156
6,3,2              22
4,1,5,3,2           6
4,3,2               6
4,3,5,2             2
4,2                 2
1,3,2               1
1,5,6,3,2           1
4,1,5,6,3,2         1
6,2                 1
Name: device, dtype: int64

-999     14866
-9        5141
4,2,3      130
2           70
2,3         42
3           31
6,2,3       10
Name: device, dtype: int64

In [29]:
train['device'].nunique()

14

In [30]:
train.head().T

,0,1,2,3,4
ad_id,153151,499398,671286,93356,152978
ad_type_id,71,120,12,33,118
ad_account_id,29388,3292,22035,3326,23511
item_id,-1,29679,-1,-1,-1
item_type,1,18,1,1,3
size,1,30,55,1,30
is_all_field,False,False,True,False,False
has_product_id,False,True,False,False,False
has_price,False,True,True,False,False
time,"281474976710655,281474976710655,28147497671065...","281474976710655,281474976710655,28147497671065...","4398046494720,4398046494720,4398046494720,4398...","281474976710655,281474976710655,28147497671065...","281474976710655,281474976710655,28147497671065..."
age,-999,-999,-9,-999,-999
area,-999,-999,-9,-999,-999
behavior,-999,-999,-9,-999,-999
connectionType,-999,-999,-9,-999,-999
consuptionAbility,-999,-999,-9,-999,-999
device,-999,2,-9,-999,-999
education,-999,-999,-9,-999,-999
gender,-999,-999,-9,-999,-999
status,-999,-999,-9,-999,-999
work,-999,-999,-9,-999,-999
price,44,100,100,49,30
crt_dateYear,2016,2016,2016,2016,2016
crt_dateMonth,4,5,9,11,11
crt_dateWeek,15,21,35,45,48
crt_dateDay,13,25,1,9,29
crt_dateDayofweek,2,2,3,2,1
crt_dateDayofyear,104,146,245,314,334
crt_dateIs_month_end,False,False,False,False,False
crt_dateIs_month_start,False,False,True,False,False
crt_dateIs_quarter_end,False,False,False,False,False
crt_dateIs_quarter_start,False,False,False,False,False
crt_dateIs_year_end,False,False,False,False,False
crt_dateIs_year_start,False,False,False,False,False
crt_dateHour,6,7,2,7,2
crt_dateElapsed,1460528084,1464161117,1472697346,1478678084,1480387159
target,0.693147,0.693147,1.94591,0.693147,0.693147

### 保存数据集

In [31]:
test.to_csv('../data/test_set_final.csv', index=None, encoding='utf-8')

### 以下为无效测试

In [32]:
def split(x):
    x = str(x) if not isinstance(x, str) else x
    key_ans = x.split(',')
    for key in key_ans:
        if key not in key2index:
            # Notice : input value 0 is a special "padding",so we do not use 0 to encode valid feature for sequence input
            key2index[key] = len(key2index) + 1
    return list(map(lambda x: key2index[x], key_ans))

In [33]:
train.gender.value_counts()

-999.0    198458
-9.0        8195
 3.0        2214
 2.0        1988
Name: gender, dtype: int64

In [34]:
train.gender.values

array([-999., -999.,   -9., ..., -999., -999., -999.])

In [35]:
key2index = {}
gens = list(map(split, train.age.values))

In [36]:
len(key2index)

997

In [37]:
np.clip(np.array([1,3,4, -7]), 0, None)

array([1, 3, 4, 0])

In [38]:
min(600, round(3.6))

4

In [39]:
!cat /proc/cpuinfo| grep "cpu cores"| uniq

cpu cores	: 6

In [40]:
!cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l

1

In [41]:
!cat /proc/cpuinfo| grep "processor"| wc -l

12

In [42]:
x = np.zeros((2,3,4))

In [43]:
(*y,)=x.shape

In [44]:
y[1]

3

## 重做验证集

In [45]:
import random

In [46]:
len(train)

210855

In [47]:
random.seed(12345)

In [48]:
valid_idx = random.sample(range(len(train)), 20000)

In [49]:
valid = train.iloc[valid_idx, :]

In [50]:
valid.head()

,ad_id,ad_type_id,ad_account_id,item_id,item_type,size,is_all_field,has_product_id,has_price,time,...,crt_dateDayofyear,crt_dateIs_month_end,crt_dateIs_month_start,crt_dateIs_quarter_end,crt_dateIs_quarter_start,crt_dateIs_year_end,crt_dateIs_year_start,crt_dateHour,crt_dateElapsed,target
109214,666766,145,23359,-1,1,64,False,False,False,-999,...,54,False,False,False,False,False,False,20,1550953544,2.197225
192069,588850,122,8564,10190,13,40,False,True,True,-999,...,73,False,False,False,False,False,False,5,1552541896,4.007333
2665,432690,230,20084,5050,13,30,False,True,False,-999,...,309,False,False,False,False,False,False,20,1541449940,3.332205
210461,235299,122,23267,8530,13,40,False,True,False,-999,...,77,False,False,False,False,False,False,13,1552915361,2.302585
78286,127818,33,14252,-1,1,1,False,False,False,-999,...,201,False,False,False,False,False,False,10,1532082340,1.098612

In [51]:
train = train.iloc[list(set(range(len(train))) - set(valid_idx)), :]

In [52]:
210855-20000

190855

In [53]:
train.head()

,ad_id,ad_type_id,ad_account_id,item_id,item_type,size,is_all_field,has_product_id,has_price,time,...,crt_dateDayofyear,crt_dateIs_month_end,crt_dateIs_month_start,crt_dateIs_quarter_end,crt_dateIs_quarter_start,crt_dateIs_year_end,crt_dateIs_year_start,crt_dateHour,crt_dateElapsed,target
0,153151,71,29388,-1,1,1,False,False,False,"281474976710655,281474976710655,28147497671065...",...,104,False,False,False,False,False,False,6,1460528084,0.693147
1,499398,120,3292,29679,18,30,False,True,True,"281474976710655,281474976710655,28147497671065...",...,146,False,False,False,False,False,False,7,1464161117,0.693147
2,671286,12,22035,-1,1,55,True,False,True,"4398046494720,4398046494720,4398046494720,4398...",...,245,False,True,False,False,False,False,2,1472697346,1.945910
4,152978,118,23511,-1,3,30,False,False,False,"281474976710655,281474976710655,28147497671065...",...,334,False,False,False,False,False,False,2,1480387159,0.693147
5,42441,221,13908,-1,1,30,False,False,False,-999,...,59,True,False,False,False,False,False,6,1488264755,0.693147

In [54]:
train.shape

(190855, 36)

In [55]:
train.price.mode()

0    100.0
dtype: float64

In [56]:
np.log(101)

4.61512051684126

In [57]:
train.to_csv('../data/train_set_final.csv', index=None, encoding='utf-8')
valid.to_csv('../data/valid_set_final.csv', index=None, encoding='utf-8')

In [58]:
valid1 = pd.read_csv('../data/valid_set_final.csv', low_memory=False, encoding='utf-8')
train1 = pd.read_csv('../data/train_set_final.csv', low_memory=False, encoding='utf-8')

In [59]:
valid1.head()
valid1.shape

,ad_id,ad_type_id,ad_account_id,item_id,item_type,size,is_all_field,has_product_id,has_price,time,...,crt_dateDayofyear,crt_dateIs_month_end,crt_dateIs_month_start,crt_dateIs_quarter_end,crt_dateIs_quarter_start,crt_dateIs_year_end,crt_dateIs_year_start,crt_dateHour,crt_dateElapsed,target
0,666766,145,23359,-1,1,64,False,False,False,-999,...,54,False,False,False,False,False,False,20,1550953544,2.197225
1,588850,122,8564,10190,13,40,False,True,True,-999,...,73,False,False,False,False,False,False,5,1552541896,4.007333
2,432690,230,20084,5050,13,30,False,True,False,-999,...,309,False,False,False,False,False,False,20,1541449940,3.332205
3,235299,122,23267,8530,13,40,False,True,False,-999,...,77,False,False,False,False,False,False,13,1552915361,2.302585
4,127818,33,14252,-1,1,1,False,False,False,-999,...,201,False,False,False,False,False,False,10,1532082340,1.098612

(20000, 36)

In [60]:
train1.head()

,ad_id,ad_type_id,ad_account_id,item_id,item_type,size,is_all_field,has_product_id,has_price,time,...,crt_dateDayofyear,crt_dateIs_month_end,crt_dateIs_month_start,crt_dateIs_quarter_end,crt_dateIs_quarter_start,crt_dateIs_year_end,crt_dateIs_year_start,crt_dateHour,crt_dateElapsed,target
0,153151,71,29388,-1,1,1,False,False,False,"281474976710655,281474976710655,28147497671065...",...,104,False,False,False,False,False,False,6,1460528084,0.693147
1,499398,120,3292,29679,18,30,False,True,True,"281474976710655,281474976710655,28147497671065...",...,146,False,False,False,False,False,False,7,1464161117,0.693147
2,671286,12,22035,-1,1,55,True,False,True,"4398046494720,4398046494720,4398046494720,4398...",...,245,False,True,False,False,False,False,2,1472697346,1.945910
3,152978,118,23511,-1,3,30,False,False,False,"281474976710655,281474976710655,28147497671065...",...,334,False,False,False,False,False,False,2,1480387159,0.693147
4,42441,221,13908,-1,1,30,False,False,False,-999,...,59,True,False,False,False,False,False,6,1488264755,0.693147

In [61]:
train1.shape

(190855, 36)

In [62]:
train.status.value_counts()

-999                  180821
-9                      7390
13,9                    1493
13,15,6,9                171
15,6,9                   166
13,5,9                   154
6                         81
15,6                      78
15,7,6,9                  65
14,15,7                   60
7,11,9,2,5,15,6,14        56
15,7,6                    42
5,9                       37
9                         34
15,7                      25
13,5,6,9                  21
14,15,7,6                 16
7,11,15,6,14              15
13,5                      11
13                        11
7,11,2,15,6,14            10
7,11,9,2,15,6,14           8
11,2                       8
14,7,11                    8
2                          8
13,15,6,1                  7
13,9,8,5,3,18              7
14,7,17,1                  6
7,9,15,6,14                5
1,7,11,6,14                5
14,15,7,11                 4
13,5,15,9                  3
5,6,9                      3
14,7                       3
14,7,6,11                  3
7                          2
13,9,5,15,6                2
13,6,9                     2
14,11,2                    2
7,11,9,15,6,14             1
14                         1
17,1,7,6,14                1
5                          1
14,7,6                     1
3,6,9                      1
13,7,9,5,15,6              1
15                         1
13,6                       1
14,7,1                     1
15,7,6,2                   1
7,2,15,6,14                1
Name: status, dtype: int64